<plugin name='lessc' version='0.1' grailsVersion='1.3 &gt; *'>
  <author>Ivo Houbrechts</author>
  <authorEmail>ivo@houbrechts-it.be</authorEmail>
  <title>Lessc Plugin</title>
  <description>Compilation of LESS CSS style sheets, compatible with the standard lessc compiler (see http://lesscss.org/)
</description>
  <documentation>http://grails.org/plugin/lessc</documentation>
  <type>LesscGrailsPlugin</type>
  <resources>
    <resource>ClientSideLessJsResources</resource>
    <resource>org.grails.plugin.lessc.LesscResourceMapper</resource>
  </resources>
</plugin>